.grid{
    text-align: center;
    margin-top: 0;
    display: flex;
}
.text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: rgba(248, 248, 248, 0.808);
}
.form-label{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
}
.img{
    margin-top: 4%;
}
.input{
    background-color:rgb(163, 181, 240);
}